{% extends './base.html.twig' %}

{% block title %}{% trans %}Homepage.title{% endtrans %}{% endblock %}

{% block body %}

    <div class="col-lg-12">

        <h5 class="text-center">{% trans %}Homepage.pageTitle{% endtrans %}</h5>

    </div>

    <div class="col-lg-12">

        <p>
            {% trans %}Homepage.infoAboutSiteAndGame{% endtrans %}
        </p>

    </div>

    <div class="col-lg-12 text-center">

        <a href="" class="">{% trans %}Homepage.playLink{% endtrans %}</a>

        <p>{{ dump(app.request.attributes.get("_route")) }}</p>
        <p>{{ dump(app.request.locale) }}</p>

    </div>


{% endblock %}
