{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-12">

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request needs-validation">
        <div class="form-row align-items-center ">

            <div class="col-lg-12">

                <label class="sr-only" for="username">{{ 'resetting.request.username'|trans }}</label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white" id="inputGroupPrepend">{{ 'resetting.request.username'|trans }}</span>
                    </div>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend" required>
                    <button type="submit" id="_submit" class="btn btn-primary input-group-append">{{ 'resetting.request.submit'|trans }}</button>
                </div>

            </div>

        </div>
    </form>

</div>

