{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="col-lg-12">

        <h5 class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h5>

    </div>

{% endblock fos_user_content %}