{% extends "base.html.twig" %}

{% block title %}{% trans %}Comments.pageTitle{% endtrans %}{% endblock title %}

{% block body %}

    <div class="col-lg-12">

        <h5 class="text-center">{% trans %}Comments.title{% endtrans %}</h5>

    </div>

{% endblock body %}